@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
	/* font variables */
	--ff-primary: 'Space Mono', monospace;

	--fs-xl: 2.188rem;
	--fs-lg: 1.5rem;
	--fs-md: 1rem;
	--fs-sm: 0.813rem;
	--fs-xs: 0.688rem;

	--fw-primary: 700;

	--ff-heading: var(--ff-primary);
	--ff-body: var(--ff-primary);

	--fs-heading: var(--fs-xl);
	--fs-body-1: var(--fs-lg);
	--fs-body-2: var(--fs-md);
	--fs-body-3: var(--fs-sm);
	--fs-body-4: var(--fs-xs);

	/* color variables */
	--clr-primary-1: hsl(172, 67%, 45%);

	--clr-neutral-1: hsl(183, 100%, 15%);
	--clr-neutral-2: hsl(186, 14%, 43%);
	--clr-neutral-3: hsl(184, 14%, 56%);
	--clr-neutral-4: hsl(185, 41%, 84%);
	--clr-neutral-5: hsl(189, 41%, 97%);
	--clr-neutral-6: hsl(0, 0%, 100%);
}

/* Reset start */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin and padding
*/
* {
	margin: 0;
	padding: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Reset end */

/* Utility classes */

.text-primary-1 {
	color: var(--clr-primary-1);
}

.text-neutral-1 {
	color: var(--clr-neutral-1);
}
.text-neutral-2 {
	color: var(--clr-neutral-2);
}
.text-neutral-3 {
	color: var(--clr-neutral-3);
}
.text-neutral-4 {
	color: var(--clr-neutral-4);
}
.text-neutral-5 {
	color: var(--clr-neutral-5);
}
.text-neutral-6 {
	color: var(--clr-neutral-6);
}

.bg-primary-1 {
	background-color: var(--clr-primary-1);
}
.bg-neutral-1 {
	background-color: var(--clr-neutral-1);
}
.bg-neutral-2 {
	background-color: var(--clr-neutral-2);
}
.bg-neutral-3 {
	background-color: var(--clr-neutral-3);
}
.bg-neutral-4 {
	background-color: var(--clr-neutral-4);
}
.bg-neutral-5 {
	background-color: var(--clr-neutral-5);
}
.bg-neutral-6 {
	background-color: var(--clr-neutral-6);
}

.ff-heading {
	font-family: var(--ff-heading);
}
.ff-body {
	font-family: var(--ff-body);
}

.fs-heading {
	font-size: var(--fs-heading);
}
.fs-body-1 {
	font-size: var(--fs-body-1);
}
.fs-body-2 {
	font-size: var(--fs-body-2);
}
.fs-body-3 {
	font-size: var(--fs-body-3);
}
.fs-body-4 {
	font-size: var(--fs-body-4);
}

/* General styling */
h1 {
	font-family: var(--ff-heading);
	font-size: var(--fs-heading);
	font-weight: var(--fw-primary);
	color: var(--clr-neutral-1);
}

body {
	min-height: 100vh;
	display: grid;
	place-content: center;
	font-family: var(--ff-body);
	font-size: var(--fs-body-1);
	letter-spacing: 1px;
	color: var(--clr-neutral-2);
	background-color: var(--clr-neutral-4);
	overflow-x: hidden;
}

main {
	width: 64vw;
	min-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 87px;
	height: 54px;
}

.calculator {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin-top: 5.375rem;
	gap: 2.875rem;
	padding: 2rem;
	border-radius: 20px;
	background-color: var(--clr-neutral-6);
}

.icon {
	width: 15px;
	height: 17px;
}
.input {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}

form {
	display: flex;
	flex-direction: column;
}

.btn {
	min-width: 120px;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	color: var(--clr-neutral-6);
	background-color: var(--clr-neutral-1);
}
.btn:nth-child(6) {
	color: var(--clr-neutral-1);
	background-color: var(--clr-neutral-5);
}
.btn:hover {
	color: var(--clr-neutral-1);
	background-color: hsl(172, 67%, 75%);
	cursor: pointer;
	opacity: 1;
}
.btn:active {
	color: var(--clr-neutral-1);
	background-color: var(--clr-primary-1);
	opacity: 1;
}
.btn:focus {
	outline: 2px solid var(--clr-primary-1);
}

.btn-reset {
	margin-top: auto;
	background-color: hsl(172, 67%, 45%);
	opacity: 0.2;
}
.btn-reset:focus {
	color: var(--clr-neutral-1);
	outline: 2px solid var(--clr-neutral-6);
	opacity: 1;
}

.row-container {
	display: flex;
	align-items: center;
}
.row-container input {
	width: 100%;
	outline: none;
	border: none;
	text-align: right;
	color: var(--clr-neutral-1);
	background-color: var(--clr-neutral-5);
}
.row-container input:active {
	color: var(--clr-neutral-1);
}
.row-container:focus-within {
	outline: 2px solid var(--clr-primary-1);
}
.column-container {
	flex-direction: column;
}
.text {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	background-color: var(--clr-neutral-5);
}
.between {
	justify-content: space-between;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mb-1 {
	margin-bottom: 2.875rem;
}

fieldset {
	border: none;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	padding-top: 1rem;
	gap: 1rem;
}
.grid-container .btn:last-child {
	text-align: right;
}
.grid-container .btn:last-child:focus {
	color: var(--clr-neutral-1);
	background-color: transparent;
	outline: 2px solid var(--clr-primary-1);
}

.output {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	border-radius: 20px;
	gap: 2.875rem;
	background-color: var(--clr-neutral-1);
}

/* error style */
.active {
	color: var(--clr-neutral-1);
	background-color: var(--clr-primary-1);
}

.error {
	border: 1px solid hsl(0, 100%, 70%) !important;
	outline: 1px solid hsl(0, 100%, 70%) !important;
}
.error-message {
	color: hsl(0, 100%, 70%);
}

.hidden {
	display: none;
}

@media screen and (max-width: 599px) {
	:root {
		--fs-xl: 1.75rem;
	}

	main {
		width: 100vw;
		min-width: 0;
		margin-top: 2rem;
		margin-bottom: 0;
	}
	.calculator {
		margin-top: 2rem;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.25fr;
	}
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);
		padding-top: 1rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
	main {
		width: 100vw;
		min-width: 0;
		margin: 1.5em;
	}
	.calculator {
		margin-top: 2rem;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.25fr;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		padding-top: 1rem;
	}
}
